<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOME PAGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        .container {
            background-color: aquamarine;
            text-decoration: blanchedalmond;
            background: burlywood;
        }
        
        .col-sm-4 {
            background-color: cornflowerblue;
            border: crimson;
            padding: 2cm;
            text-shadow: crimson;
            text-rendering: optimizeLegibility;
        }
        
        .sex {
            text-align: center;
            text-indent: 5cm;
            text-align: center;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>FACEBOOK STIMULATION WITH CODE!!!</h1>
            <p>CLICK ON LOGIN WITH FACEBOOK AT THE BOTTOM TO CONTINUE</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>WHAT IT DOES!!!!</h3>
                <p>API TO CONTROL YOUR FB USING CODE....... </p>
                <p>AUTOMATE YOUR REGULAR TASK LIKE NOTIFICATIONS,CHATS AND POSTS</p>
            </div>
            <div class="col-sm-4">
                <h3>HOW IT DOES!!!!!</h3>
                <p>WE WILL PROVIDE YOU SNIPPETS OF CODE FOR EACH OF THE TASK TO EXECUTE WITHIN EFFORTS OF YOUR CLICK</p>
                <p>ONLINE SERVER LETS U DO SELECTIVE TASK EVEN WITHOUT INTERNET CONNECTIONS</p>
            </div>
            <div class="col-sm-4">
                <h3>BENEFITS!!!!!</h3>
                <p> DIRECT INTERACTION WITH FACEBOOK API SO NO INTERCEPTION OF DATA IN BETWEEN </p>
                <p>NEW WAY TO HANDLE FACEBOOK IN A COOL AND HANDSOME WAY</p>
            </div>
        </div>
        <a href="/facebook" id="sex">CLICK HERE TO LOGIN WITH FACEBOOK</a>
    </div>

</body>

</html>