<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<style>
    #sex {
        background-color: aqua;
        text-decoration: blueviolet;
        border: cadetblue;
    }
    
    #dex {
        text-align: center;
        text color: blue;
    }
    
    #wex {
        text-decoration: chocolate;
        background-color: coral;
    }
</style>

<body>
    <div id="sex">
        <p id="fex">
            <h1> <b>ERROR 404!! SERVER DOWN</b></h1>
            <h1 id="dex"> OR </h1>
            <h1><b><u>WRONG CREDENTIALS ENTERED</u></b></h1>
        </p>

        <p id="Wex">
            <a href="/facebook">
                <h1>PLEASE TRY AGAIN</h1>
            </a>
        </p>
    </div>
</body>

</html>