<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    #sex {
        position:absolute;
        background: url("error.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        text-decoration: blueviolet;
        border: cadetblue;
        padding: 20px;
    }
    
    #dex {
        text-align: center;
        text color: blue ;
    }
    
    #wex {
        text-decoration: chocolate;
        background-color: coral;
    }
    #cl{
        color: red;
    }
</style>

<body>
    <div id="sex">
        <p id="fex">
            <h1> <b>ERROR 404!! SERVER DOWN</b></h1>
            <br>
            <br>
            <br>
            <br>
            <!-- <h1 id="dex"> OR </h1> -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 id="cl"><b><u>WRONG CREDENTIALS ENTERED</u></b></h1>
        </p>

        <p id="Wex">
            <a href="/facebook">
                <h4> <em>PLEASE TRY AGAIN</em> </h4>
            </a>
        </p>
    </div>
</body>

</html>